# Git
.git
.gitignore
.github

# Python
.venv/
*.pyc
__pycache__/
*.egg-info/

# Docker
Dockerfile
docker-compose.yml

# IDEs and local files
.idea/
*.log
*.log.*

# Project-specific
uploads/
logs/
node_modules/
*.md